In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

In [90]:
data = pd.read_csv("Column_Selection.csv")
data.head()

,Unnamed: 0,Contact Status,Designation,Designation 2,Designation 3,Detail Tech Requirement,Funding,Location,Requirements,Size
0,0,0,F,CF/CEO,NaN,NaN,NaN,"Noida, Delhi",Back End,51-200
1,1,0,F,CF/CTO,NaN,NaN,NaN,Gurgaon,"Full Stack, Front End",201-500
2,2,0,F/CF/VP,F/CF,NaN,NaN,NaN,"Gurgaon, Delhi",ReactJS,11-50
3,3,0,F/Director,NaN,NaN,NaN,NaN,Gurgaon,Front End,11-50
4,4,0,F/CEO,NaN,NaN,NaN,NaN,Gurgaon,"Software, Front End",0-10

In [3]:
data.head()

,Unnamed: 0,Contact Status,Designation,Designation 2,Designation 3,Detail Tech Requirement,Funding,Location,Requirements,Size
0,0,0,F,CF/CEO,NaN,NaN,NaN,"Noida, Delhi",Back End,51-200
1,1,0,F,CF/CTO,NaN,NaN,NaN,Gurgaon,"Full Stack, Front End",201-500
2,2,0,F/CF/VP,F/CF,NaN,NaN,NaN,"Gurgaon, Delhi",ReactJS,11-50
3,3,0,F/Director,NaN,NaN,NaN,NaN,Gurgaon,Front End,11-50
4,4,0,F/CEO,NaN,NaN,NaN,NaN,Gurgaon,"Software, Front End",0-10

# Location

In [4]:
loc = data.Location

In [5]:
data.Location.unique()

array(['Noida, Delhi', 'Gurgaon', 'Gurgaon, Delhi', 'Noida', 'Delhi',
       'Mohali', 'Kolkota', 'Delhi, Mumbai', 'Jaipur', 'Delhi, Gurgaon',
       'Delhi, Noida, Gurgaon', 'Jodhpur', 'NCR', 'Aluva', 'Mysore',
       'delhi, Bengaluru', 'Chandigarh', 'Gurgaon, Delhi, Noida',
       'Delhi , Singapore', 'Delhi, Noida', 'Delhi, Hyderabad, Bengaluru',
       'New Delhi', 'Kolkata', 'Gurgaon, Bengaluru',
       'Gurgaon, Gurugram, Mumbai', 'Delhi, Bengaluru',
       'Gurgaon, Delhi, Gurugram, Gurgaon, Mumbai, Bengaluru, New Delhi',
       'Gurgaon, Ahmedabad', 'Gurgaon, Mumbai', 'Dehli',
       'Delhi, Pune, Mumbai', 'Gurugaon', 'New Delhi (Hiring in Mumbai)',
       'Delhi, Noida, Mumbai', 'Delhi, New Delhi', nan, 'Amritsar',
       'Faridabad', 'Delhi, Gurgaon, Noida', 'Noida, Pune',
       'Bengaluru, Chennai, Delhi', 'Indore', 'Mumbai', 'Bangalore',
       'Pune', 'Bangalore, Pune', 'Mumbai, Pune', 'Ahmedabad',
       'Bengaluru', 'Pune, Indore', 'Bangalore, Indore', 'Coimbatore',
       'Chennai', 'Chennai/ Bangalore', 'Hyderabad',
       'Kolkata, Mumbai, Delhi, Bengaluru', 'Nagpur', 'Nagpur, Pune',
       'Hyderabad & Mumbai', 'Bengaluru, Coibatore', 'Bengaluru, Chennai',
       'Hyderabad, Bengaluru, Chennai',
       'Bengaluru, Hyderabad, Mumbai, Pune, Tamil Nadu',
       'Bengaluru, Pune', 'Bengaluru & Hyderabad', 'Bengaluru, Mumbai',
       'Bengalore', 'Bengaluru, Mumbai, Indore', 'Bengaluru & Kochi',
       'Chennai & Mumbai', 'Kochi', 'Chennai, Mumbai',
       'Hyderabad, Mumbai', 'Bengaluru, Pune Hyderabad, Mumbai',
       'Bengaluru & Mumbai', 'Bengaluru, Noida, Gurugram',
       'Bengaluru & New Delhi', 'Kochi, Mumbai', 'Trivandrum',
       'Vishakapatnam', 'Bengaluru & Goa', 'Bengaluru, Delhi & Gurgaon',
       'Bengaluru & Ahmedabad', 'Bengaluru, Hyderabad', 'Bengaluru,Pune',
       'Bengaluru, Kochi', 'Bengaluru & Pune', 'Bengaluru & Delhi',
       'Bengaluru, Chandigarh', 'Htderabad', 'Tumkur,karnataka',
       'Hyderabad & Pune', 'Chennai, Bengaluru, Pune', 'Udupi',
       'Hyderbad', 'Bengaluru, Mumbai, Gurugram', ' Vijayawada', 'India',
       'Ahmedabad & Gurgaon', 'Hubli', 'Andhra pradesh', 'Secunderābād',
       'MUMBAI', 'Mumbai, Ukraine', 'Mumbai / Ahmedabad',
       'ANDHERI, MUMBAI', 'Mumbai/Gujarat', 'Mumbai/Bengaluru', 'Vadodra',
       'Navi Mumbai', 'Mumbai, Chennai', 'MUMBAI SAN FRANSISCO',
       'Gandhinagar', 'Nashik', 'Goa, Mumbai, Bengaluru, Hyderabad',
       'MUMBAI, Toronto', 'Goa', 'Pune, mumbai', 'Japan, Mumbai',
       'Banglore, Mumbai', 'Ahmadabad', 'Surat', 'Vadodara',
       'Mumbai/Pune', 'New Delhi, Mumbai', 'Ahmedabad, Pune', 'Baroda',
       'Bhilai', 'Gujarat', 'Rajkot', 'Colorado', 'vizag', 'Udipi',
       'Bhopal', 'Noida, Delhi/NCR', 'South Delhi', 'UP',
       'Gurugram, Haryana', 'Kanpur,UP', 'Banglore',
       'Kolkata, West Bengal', 'Bangluru,karnataka', 'Haryana'],
      dtype=object)

# Change Gurugoan by Gurgaon

In [6]:
import re
location = []
for i in range(len(data)):
    value = re.split('; |, |/',str(loc[i]))
    if "Gurugoan" in value:
        words = [w.replace('Gurugoan', 'Gurgaon') for w in re.split('; |, |/',str(data["Location"][i]))]
        location.append(words)
    else:
        location.append(value)

In [7]:
lo = ['Bengaluru', 'Mumbai', 'Pune', 'Hyderabad', 'Gurugram', 'Chennai', 'Noida', 'Delhi', 'Kolkata', 'Gurgaon']

In [8]:
import itertools
loc_dict = {}

for i in range(len(data)):
    for j in location[i]:
        if j in lo and j in loc_dict.keys():
            c = []
            c.append(loc_dict[j])
            c.append([i])
            merged = list(itertools.chain(*c))
            loc_dict[j] = merged
        elif j not in lo and "Others" in loc_dict.keys():
            c = []
            c.append(loc_dict["Others"])
            c.append([i])
            merged = list(itertools.chain(*c))
            loc_dict["Others"] = merged
        elif j not in loc_dict.keys():
            if j in lo:
                loc_dict[j] = [i]  
            else:
                loc_dict["Others"] = [i]
        print(loc_dict)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [9]:
len(loc_dict["Others"])

2438

In [10]:
feature_list = loc_dict.keys()
zero_data = np.zeros(shape=(len(data),len(feature_list)))
new_d = pd.DataFrame(zero_data, columns=feature_list)

In [ ]:
# for k in range(len(new_d)):
#     for i in  loc_dict.keys():
#         for j in loc_dict[i]:
#             new_d[i][j] = 1

In [ ]:
# import csv
# new_d.to_csv("Location.csv")

# Designation

__Here replace designation of the contact person by one which it at higher rank in hierarchy__

In [91]:
data["Designation"].fillna("Missing", inplace=True)
data["Designation 2"].fillna("Missing", inplace=True)
data["Designation 3"].fillna("Missing", inplace=True)

In [92]:
data["combined"] = data["Designation"].str.cat(data[["Designation", "Designation 2", "Designation 3"]].astype(str), sep="/")

In [93]:
comb = (data.combined).str.split("/")

In [94]:
founder = ["F","Founder","CF", "Co-founder", "President", "Director", "MD", "Founder & CEO"
           , "Owner", "cbo", "CEO & Cofounder",'Co-Founder & CTO', 'Co-Founder', 'Co-Founder & CPO'
           ,'Co-Founder & MD',  'Co-founder & CBO','CEO & Founder','CEO & Cofounder', 'Co-Founder', 'Co-founder', 'Sugandhi'
           ,'Co-Founder & CPO', 'Co-Founder & CEO', 'Co-Founder & CTO','CoFounder & CEO', 'Co-Founder & MD'
           , 'Co-founder & CTO','MD & CEO','Cofounder & COO', 'Cofounder', 'Founder & COO', 'Cofounder & CEO'
           , 'Cofouncder & CEO','Founder & MD','Cofounder & CTO','founder']

vp = ["Associate VP","VP", 'SVP', 'Vice President', 'VP HOO','AVP ','VP HR', 'AVP-Technology','Excecutive Director'
     , 'City Head', 'Sr VP']

ceo = ["CEO", "CTO", 'MD & CTO', 'Sr Pricipal Consultant',  'CMO','India Head & Chief Engg Officer','COO', 'CEO & Director']

hr = ["HR"," VP HR", "Director-HR", 'Senior Director HR', 'Global Head-HR','Manager HR','Director HR'
      ,'HR Director','Tech HR', 'VP HR','Head HR','Director-TA', 'Director-TA']

Head_engg = ['Head Engg',"HR & TA Head", 'Co-Founder & Data Center Automation Specialist', 'Head od Software Dev'
            ,"Head od Software Dev", "TA", "Head TA", 'VP TA', 'Head IT', 'VP IT','Head of India Engg','GM IT'
             , 'Director of Technology','VP of rtechnology', 'VP Tech','Director of Engg','GM IT','GM','TA Lead'
             ,'VP Tech','Director of Technology','Global Head','Director Technology', 'Head of Tech','Director & Head Engg' 
            , 'Head of Technology','Head Product Engg', 'Engg Manager', 'Principal Engg','Director Engg', 'Sr TA Manager']

In [82]:
l = []
founder = ["CF"]
for i in comb[:5]:
    if any(item in i for item in founder):
        print(i)
        print("y")
#         l.append("Founder")'Director & Head Engg'

['F', 'F', 'CF', 'CEO', 'Missing']
y
['F', 'F', 'CF', 'CTO', 'Missing']
y
['F', 'CF', 'VP', 'F', 'CF', 'VP', 'F', 'CF', 'Missing']
y

In [95]:
l = []
for i in comb:
    if any(item in i for item in founder):
        l.append("Founder")
    elif any(item in i for item in vp):
        l.append("VP")
    elif any(item in i for item in ceo):
        l.append("CEO")
    elif any(item in i for item in hr):
        l.append("HR")
    elif all(item in i for item in ["Missing"]):
        l.append("Missing")
    elif any(item in i for item in Head_engg):
        l.append("Head_engg")
    else:
        l.append(i[0])

In [96]:
data["Desingations"] = l

In [85]:
data.columns

Index(['Unnamed: 0', 'Contact Status', 'Designation', 'Designation 2',
       'Designation 3', 'Detail Tech Requirement', 'Funding', 'Location',
       'Requirements', 'Size', 'combined', 'Desingations'],
      dtype='object')

In [86]:
data.head()

,Unnamed: 0,Contact Status,Designation,Designation 2,Designation 3,Detail Tech Requirement,Funding,Location,Requirements,Size,combined,Desingations
0,0,0,F,CF/CEO,Missing,NaN,NaN,"Noida, Delhi",Back End,51-200,F/F/CF/CEO/Missing,Founder
1,1,0,F,CF/CTO,Missing,NaN,NaN,Gurgaon,"Full Stack, Front End",201-500,F/F/CF/CTO/Missing,Founder
2,2,0,F/CF/VP,F/CF,Missing,NaN,NaN,"Gurgaon, Delhi",ReactJS,11-50,F/CF/VP/F/CF/VP/F/CF/Missing,Founder
3,3,0,F/Director,Missing,Missing,NaN,NaN,Gurgaon,Front End,11-50,F/Director/F/Director/Missing/Missing,Missing
4,4,0,F/CEO,Missing,Missing,NaN,NaN,Gurgaon,"Software, Front End",0-10,F/CEO/F/CEO/Missing/Missing,CEO

In [99]:
import csv
data.to_csv("Desingation.csv")

In [97]:
len(data["Desingations"].unique())

6

In [98]:
data["Desingations"].unique()

array(['Founder', 'Missing', 'VP', 'CEO', 'HR', 'Head_engg'], dtype=object)