<b>Features:</b> Following are the features in dataset:

* __'Added Date'__  --> Date when entry entered
* __'BANT Status'__ --> 
    * __B(Budget)__ - Depends on Funding or Minimum salary that the company gives to freshers
    * __A(Authority)__ - Right Contact person
    * __N(Need)__ - Company Tech Requirement
    * __T(Time Frame)__ - Company has to wait for 4 Months for deployment. 
* __'Co Linkedin URL'__ --> LinkedIn URL
* __'Company Name'__  --> Name of Comapny
* __'Contact #2', 'Contact #3'__ --> Contact Number
* __'Contact Status'__ --> Company's reaction
* __'Designation','Designation 2', 'Designation 3'__ --> Designation of person we are contacting
* __'Detail Tech Requirement'__ --> Company's requirments
* __'Email', 'Email 2', 'Email 3'__ --> Email id of person we are contacting
* __'FollowUp Date'__ --> Date given by comapny to contact back
* __'Funding'__ --> Total amount invested into the company
* __'Linkedin URL'__ --> LinkedIn URL
* __'Location'__ --> Location of headquarter of the comapny
* __'Merge status'__ --> Ignore
* __'Phone 2', 'Phone 3', 'Phone No'__ --> Phone Number
* __'Primary Contact Person', 'Proimary Contact Person'__
* __'Remarks'__  --> Ignore
* __'Requirements'__
* __'Sales Status'__ --> Ignore
* __'Segment'__ --> Type of company
* __'Size'__ --> Number of enployees
* __'Source'__ --> Ignore

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

In [4]:
data = pd.ExcelFile("Data.xlsx")

In [5]:
df1 = pd.read_excel(data, 'Ashish')
df2 = pd.read_excel(data, 'Deepu')
df3 = pd.read_excel(data, "Rozer")
df4 = pd.read_excel(data, "Shubham")

In [6]:
data = pd.concat([df1, df2, df3, df4])

In [7]:
df1.shape, df2.shape, df3.shape, df4.shape

((805, 31), (2826, 37), (2390, 28), (522, 28))

In [8]:
data.shape

(6543, 39)

In [9]:
data["Designation"].isna().sum(), data["Designation 2"].isna().sum()

(1475, 3883)

# Drop unwanted columns

Out of above features useful features are :
* __'Contact Status'__ --> Company's reaction
* __'Designation','Designation 2', 'Designation 3'__ --> Designation of person we are contacting
* __'Detail Tech Requirement'__ --> Company's requirments
* __'Funding'__ --> Total amount invested into the company
* __'Location'__ --> Location of headquarter of the comapny
* __'Segment'__ --> Type of company
* __'Size'__ --> Number of enployees

<b>Reasons</b>
* __'Contact Status'__ --> This is what we are goning to predict
* __'Designation','Designation 2', 'Designation 3'__ --> If the contact person is technical head  or a descision making person of comapny then he'll easily understant the technical stuff and can make descisions without much dealy.
* __'Detail Tech Requirement'__ --> If company's requirment matches what we are providing then there is high chance of that company to consider us
* __'Funding'__ --> If company has low funding then it won't be able to hadle our chargers
* __'Location'__ --> Location of headquarter of the comapny
* __'Segment'__ --> Type of company
* __'Size'__ --> Number of enployees

In [10]:
data.drop(columns=['Added Date', 'BANT Status', 'Co Linkedin URL'
                   ,'Contact #2', 'Contact #3','Email','Email 2', 'Email 3', 'FollowUp Date', 'Linkedin URL', 'Phone 2', 'Phone 3'
                   , 'Phone No','Primary Contact Person', 'Proimary Contact Person','Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'
                   ,'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35'
                   ,'Unnamed: 36', "Sales Status", "Segment", "Source", 'Merge status', "Remarks"], inplace = True)

In [11]:
data.columns

Index(['Company Name', 'Contact Status', 'Designation', 'Designation 2',
       'Designation 3', 'Detail Tech Requirement', 'Funding', 'Location',
       'Requirements', 'Size'],
      dtype='object')

In [12]:
import csv
data.to_csv("Column_Selection.csv")

# 'Contact Status'
<h3><b>Replace the values by 1 if company responded else replace by 0.</b></h3>

In [13]:
data["Contact Status"].unique()
np.array(data["Contact Status"].fillna("Missing", inplace=True))

array(None, dtype=object)

In [14]:
data["Contact Status"] = (data["Contact Status"].replace(to_replace={'Reminded2','Reminded1','Emailed #1', "Missing"}, value="0", regex=True) )
data["Contact Status"] = (data["Contact Status"].replace(to_replace={'Responded', 'Not Interested', 'Called', 'Call-Disqualified'
       ,'Call-Scheduled', 'Call-Yes', 'Call-Qualified', 'postponed'}, value="1", regex=True) )

# Requirements

</h3><b> Make techs as key in dict and save column number as values. Then replace those col by 1 </b> </h3>

In [13]:
data["Requirements"].fillna("Missing", inplace = True)

Remove the brackets and everything within it.

In [14]:
l = []
import re
for i in range(len(data)):
    x = re.sub("[\(\[].*?[\)\]]", "", str(np.array(data["Requirements"])[i]))
    l.append(x)

In [15]:
l[:4]

['Back End', 'Full Stack, Front End', 'ReactJS', 'Front End']

In [16]:
req = []
for i in l:
    req.append(i.split(","))

In [17]:
req[:4]

[['Back End'], ['Full Stack', ' Front End'], ['ReactJS'], ['Front End']]

In [18]:
b = []
for i in l:
    b.append(i.split(","))

In [ ]:
# import itertools
# dict = {}
# c = []
# list_keys = dict.keys()
# for i in range(len(b)):
#     for j in b[i]:
#         j = j.strip().replace(" ", "").lower()
#         j = j.strip().replace("-", "").lower()
#         if j in list_keys:
#             c = []
#             c.append(dict[j])
#             c.append([i])
#             merged = list(itertools.chain(*c))
#             dict[j] = merged
#         else:
#             dict[j] = [i]

In [ ]:
# (dict.keys())

dict_keys(['backend', 'fullstack', 'frontend', 'reactjs', 'software', 'nodejs', 'ios', 'devops', 'mobile', 'qa', 'php', 'angular', 'react', 'java', '.net', 'android', 'hybridmobileapplication', 'ionic', 'mean', 'reactnative', 'machinelearning', 'data', 'web', 'javascript', 'ai', 'ml', 'test', 'python', 'node.js', 'angularjs', 'django', 'blockchain', '', 'meanstack', 'andoid', 'ui', 'mernstack', 'phplaravel', 'objectivec', 'bigdata', 'microservices', 'asp.net', 'golang', 'angular2', 'hybrid', 'fronttend', 'cloud', 'unity', 'missing', 'datascience', 'bloackchain', 'dotnet', 'laravel', 'c++', 'angular5', 'hybridmobile', 'frontend.fullstack', 'ui/ux', 'c#', 'node', 'anjular', 'lampstack', 'c', 'dot.net', 'ux/uiandroid', 'ux', 'softwaredevelopment', 'angularjs5', 'angularfrontend', 'computervision', 'softwarefullstack', 'node.js(angularjs/javascripy', 'php&mysql', 'fullstackfrontend', 'javabackend', 'iosapplication', 'mobileapplication', 'lamp', 'stack', 'javasoftware', 'webbackend', 'softwaremagento', 'app', 'ember.jswithdjangorestapi', 'application', 'softwarefrontend', 'softwarebackend', 'mean/fullstack', 'product', 'ui/frontend', 'softwareengineering', 'mobileapp', 'pythondjando', 'backendnodejs', 'bigdatascala', 'uisoftware', 'ror', 'expressjs', 'netsuite', 'python/djangobackend', 'python/django', 'reactjs/reactnative', 'frontendangular/angular.js', 'androidosfirmware', 'androidapp', 'pythonbackend', 'openstackdevops', 'reactnativemobile', 'fullstackjavascript', 'nativeios', 'fullstackproduct', 'frontendweb', 'c/c++/embeddedsoftwaredeveloper', 'androidsoftware', 'html', 'javascript/jquery', 'javaspring', 'frontned', 'reactfullstack', 'phpbackend', 'frontend/ui', 'djangopythonbackend', 'juniorandroid', 'fullstacksoftware', 'react.js', 'fulljavascript', 'enterpriseintegration', 'sdet', 'mysqldba', 'javascript/bootstrap', 'softwareblockchain', 'ux/uifullstack', 'api', 'softwareios', 'javapython', 'angularjs/nodejs', 'webfullstack', 'backed', 'nodebackend', 'awsdevops', 'desktopapp', 'javafullstackresearch', 'fullstackpython', 'programer', 'androidframework', 'backendengineer', 'angularjs/html', 'fullstack(django', 'mysql', 'productdevelopment', 'frontendengineer', 'fullstackweb', 'angular2ui', 'pythonweb', 'deeplearning', 'juniorfrontend', 'blockchainfrontend', 'juniorfullstack', 'automation', 'backendjava', 'css', 'ux/ui', 'softwarejava', 'frotend', 'django/python', 'webapp', 'ml/ai', 'frontendjs', 'softwaredeveloper', 'iosapp', 'fortend', 'webfrontend', 'dotnetweb', 'softwaredatabase', 'androidnative', 'machinelearning/ai/bigdata', 'webui', 'mango', 'php_laravel_mysql', 'webgraphic', 'pulkit@trell.co', 'fullstack&ios', 'angular/react', 'hybridmobileapp', 'scala', 'devopshacker', 'fullstackandroid', 'sofware', 'javaandroid', 'mobile/frontend', 'multistacksoftware', 'javaweb', 'web/ui', 'frontendreact', 'reactnativereact.js', 'bi/data', 'frontendreactjs', 'javafullstack', 'phpfullstack', 'sodtware', 'ml/dl', 'javamobile', 'reactjs/angularjs', 'fullstackmean/mernstack', 'angukarreactjs', 'jsfullstack', 'fluttermobile', 'fulstack', 'react..js', 'mldevops', 'flutter', 'softwaretester', 'drupal', 'sqldeveloper', 'testingengineer', 'sql', 'anroid', 'automationtest', 'datascientist', 'testautomation', 'mongodb', 'sqlserver', 'testing', 'angular.js', 'backenddeveloper', 'node.js/aws/javascript', 'hadoop', 'mlsoftware', 'javacloud', 'softwaredevelopmenttest', 'ionicapp', 'garima.negi@nagarro.com', 'amit@ahataxis.com', 'rubish@almaconnect.com', 'vineeta@fabbag.com', 'kunal@tushky.com', 'shrirang@origaleasing.com', 'pravin@wishberg.com', 'harish.ramachandran@cignex.com', 'piyush.mistry@jmfl.com', 'traineesoftwaretesting', 'traineesoftware', 'tester', 'trainee', 'magento', 'uideveloper'])

In [ ]:
dict["vineeta@fabbag.com"]

[4839]

__In the data, few columns contain wrong information. Here Requirement column contain few email ids instead of technologies. To avoid wrong predictions, we need to remove the ones which contain no values or mark it as missing.__

In [ ]:
d = pd.read_csv("Column_Selection.csv")
d[4839:4840]

,Unnamed: 0,Company Name,Contact Status,Designation,Designation 2,Designation 3,Detail Tech Requirement,Funding,Location,Requirements,Size
4839,1208,Fab Bag,Reminded2,NaN,NaN,NaN,NaN,NaN,NaN,vineeta@fabbag.com,NaN

In [ ]:
for i in dict.keys():
    if "@" in i:
        print(dict[i])

[1809]
[4469]
[4837]
[4838]
[4839]
[4840]
[4841]
[4842]
[5751]
[5897]

In [ ]:
d[4469:4470]

,Unnamed: 0,Company Name,Contact Status,Designation,Designation 2,Designation 3,Detail Tech Requirement,Funding,Location,Requirements,Size
4469,838,Nagarro,Reminded2,COO,Director HR,VP Eng,Software,NaN,Gurgaon,Garima.negi@nagarro.com,1001-5000

In [ ]:
d[4837:4843]

,Unnamed: 0,Company Name,Contact Status,Designation,Designation 2,Designation 3,Detail Tech Requirement,Funding,Location,Requirements,Size
4837,1206,Aha Taxis,Reminded2,NaN,NaN,NaN,NaN,NaN,NaN,amit@ahataxis.com,NaN
4838,1207,Alma Connect,Reminded2,NaN,NaN,NaN,NaN,NaN,NaN,rubish@almaconnect.com,NaN
4839,1208,Fab Bag,Reminded2,NaN,NaN,NaN,NaN,NaN,NaN,vineeta@fabbag.com,NaN
4840,1209,Tushky.Com,Reminded2,NaN,NaN,NaN,NaN,NaN,NaN,kunal@tushky.com,NaN
4841,1210,Origa Leasing,Reminded2,NaN,NaN,NaN,NaN,NaN,NaN,shrirang@origaleasing.com,NaN
4842,1211,Wishberg,Reminded2,NaN,NaN,NaN,NaN,NaN,NaN,pravin@wishberg.com,NaN

In [ ]:
d[5751:5752]

,Unnamed: 0,Company Name,Contact Status,Designation,Designation 2,Designation 3,Detail Tech Requirement,Funding,Location,Requirements,Size
5751,2120,CIGNEX Datamatics,Reminded2,VP TA,VP HR,VP Tech,Software,NaN,Ahmedabad,Harish.Ramachandran@cignex.com,501-1000

In [ ]:
d[5897:5898]

,Unnamed: 0,Company Name,Contact Status,Designation,Designation 2,Designation 3,Detail Tech Requirement,Funding,Location,Requirements,Size
5897,2266,JM Financial,Reminded2,SVP,Head HR,VP HR,Software,NaN,Mumbai,piyush.mistry@jmfl.com,501-1000

In [ ]:
feature_list = dict.keys()
zero_data = np.zeros(shape=(len(data),len(feature_list)))
new_d = pd.DataFrame(zero_data, columns=feature_list)

In [ ]:
d.head()

,Unnamed: 0,Company Name,Contact Status,Designation,Designation 2,Designation 3,Detail Tech Requirement,Funding,Location,Requirements,Size
0,0,10Times,Reminded2,F,CF/CEO,NaN,NaN,NaN,"Noida, Delhi",Back End,51-200
1,1,1Mg.Com,Reminded2,F,CF/CTO,NaN,NaN,NaN,Gurgaon,"Full Stack, Front End",201-500
2,2,1Thing: Your Right Design Team,Reminded2,F/CF/VP,F/CF,NaN,NaN,NaN,"Gurgaon, Delhi",ReactJS,11-50
3,3,23Bytes,Reminded2,F/Director,NaN,NaN,NaN,NaN,Gurgaon,Front End,11-50
4,4,360Growe,Reminded2,F/CEO,NaN,NaN,NaN,NaN,Gurgaon,"Software, Front End",0-10

__Convert this dictionary into dataset__

In [ ]:
for k in range(len(new_d)):
    for i in  dict.keys():
        for j in dict[i]:
            new_d[i][j] = 1

In [ ]:
type(new_d)

In [ ]:
new_d.shape

In [ ]:
data.shape

In [ ]:
import csv
new_d.to_csv("Requirements.csv")

In [ ]:
req_data = pd.read_csv("Requirements.csv")
# whole_data = pd.concat([data, req_data])
# req_data.drop(columns="Unnamed: 0", inplace = True)
req_data.head()

In [ ]:
data.head()

In [ ]:
for i in req_data.columns:
    if "@" in i:
        req_data.drop(columns=i, inplace=True)

In [ ]:
req_data.shape

In [ ]:
# whole_data.drop(columns="Unnamed: 33", inplace =True)
# whole_data.backend[:2], req_data.backend[:2]

In [ ]:
whole_data.columns

In [ ]:
list_req = req_data.columns

In [ ]:
for i in whole_data.columns:
    if i in list_req:
        whole_data[i].fillna(0, inplace=True)

In [ ]:
whole_data.head()

In [ ]:
data.head()

In [ ]:
data.drop(columns=["Detail Tech Requirement", "Requirements"], inplace = True)

In [ ]:
data.head()