In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

In [68]:
data = pd.read_csv("Column_Selection.csv")
data.head()

In [67]:
data.head()

# Location

In [4]:
loc = data.Location

In [66]:
data.Location.unique()

# Change Gurugoan by Gurgaon

In [6]:
import re
location = []
for i in range(len(data)):
    value = re.split('; |, |/',str(loc[i]))
    if "Gurugoan" in value:
        words = [w.replace('Gurugoan', 'Gurgaon') for w in re.split('; |, |/',str(data["Location"][i]))]
        location.append(words)
    else:
        location.append(value)

In [7]:
lo = ['Bengaluru', 'Mumbai', 'Pune', 'Hyderabad', 'Gurugram', 'Chennai', 'Noida', 'Delhi', 'Kolkata', 'Gurgaon']

In [8]:
import itertools
loc_dict = {}

for i in range(len(data)):
    for j in location[i]:
        if j in lo and j in loc_dict.keys():
            c = []
            c.append(loc_dict[j])
            c.append([i])
            merged = list(itertools.chain(*c))
            loc_dict[j] = merged
        elif j not in lo and "Others" in loc_dict.keys():
            c = []
            c.append(loc_dict["Others"])
            c.append([i])
            merged = list(itertools.chain(*c))
            loc_dict["Others"] = merged
        elif j not in loc_dict.keys():
            if j in lo:
                loc_dict[j] = [i]  
            else:
                loc_dict["Others"] = [i]
        print(loc_dict)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [9]:
len(loc_dict["Others"])

2438

In [10]:
feature_list = loc_dict.keys()
zero_data = np.zeros(shape=(len(data),len(feature_list)))
new_d = pd.DataFrame(zero_data, columns=feature_list)

In [11]:
for k in range(len(new_d)):
    for i in  loc_dict.keys():
        for j in loc_dict[i]:
            new_d[i][j] = 1

In [12]:
import csv
new_d.to_csv("Location.csv")

# Designation

__Here replace designation of the contact person by one which it at higher rank in hierarchy__

In [13]:
data["Designation"].fillna("Missing", inplace=True)
data["Designation 2"].fillna("Missing", inplace=True)
data["Designation 3"].fillna("Missing", inplace=True)

In [14]:
data["combined"] = data["Designation"].str.cat(data[["Designation", "Designation 2", "Designation 3"]].astype(str), sep="/")

In [17]:
comb = (data.combined).str.split("/")

In [35]:
founder = ["F","Founder","CF", "Co-founder", "President", "Director", "MD", "Founder & CEO", "Owner", "cbo"]
vp = ["Associate VP","VP"]
ceo = ["CEO", "CTO"]
hr = ["HR"," VP HR", "Director-HR"]

In [42]:
l = []
for i in comb:
    if any(item in i for item in founder):
        l.append("Founder")
    elif any(item in i for item in vp):
        l.append("VP")
    elif any(item in i for item in ceo):
        l.append("CEO")
    elif any(item in i for item in hr):
        l.append("HR")
    elif all(item in i for item in ["Missing"]):
        l.append("Missing")
    else:
        l.append(i[0])

In [54]:
data["Desingations"] = l

In [61]:
data.columns

Index(['Unnamed: 0', 'Contact Status', 'Detail Tech Requirement', 'Funding',
       'Location', 'Requirements', 'Size', 'Desingations'],
      dtype='object')

In [62]:
data.head()

,Unnamed: 0,Contact Status,Detail Tech Requirement,Funding,Location,Requirements,Size,Desingations
0,0,0,NaN,NaN,"Noida, Delhi",Back End,51-200,Founder
1,1,0,NaN,NaN,Gurgaon,"Full Stack, Front End",201-500,Founder
2,2,0,NaN,NaN,"Gurgaon, Delhi",ReactJS,11-50,Founder
3,3,0,NaN,NaN,Gurgaon,Front End,11-50,Founder
4,4,0,NaN,NaN,Gurgaon,"Software, Front End",0-10,Founder

In [65]:
import csv
data.to_csv("Desingation.csv")