In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('Column_Selection.csv')
data.head()

,Unnamed: 0,Contact Status,Designation,Designation 2,Designation 3,Detail Tech Requirement,Funding,Location,Requirements,Size
0,0,0,F,CF/CEO,NaN,NaN,NaN,"Noida, Delhi",Back End,51-200
1,1,0,F,CF/CTO,NaN,NaN,NaN,Gurgaon,"Full Stack, Front End",201-500
2,2,0,F/CF/VP,F/CF,NaN,NaN,NaN,"Gurgaon, Delhi",ReactJS,11-50
3,3,0,F/Director,NaN,NaN,NaN,NaN,Gurgaon,Front End,11-50
4,4,0,F/CEO,NaN,NaN,NaN,NaN,Gurgaon,"Software, Front End",0-10

In [3]:
data.columns

Index(['Unnamed: 0', 'Contact Status', 'Designation', 'Designation 2',
       'Designation 3', 'Detail Tech Requirement', 'Funding', 'Location',
       'Requirements', 'Size'],
      dtype='object')

In [4]:
data.drop(columns=[ 'Designation', 'Designation 2','Designation 3', 'Detail Tech Requirement','Location',
       'Requirements'], inplace=True)

In [5]:
data.head()

   Unnamed: 0  Contact Status Funding     Size
0           0               0     NaN   51-200
1           1               0     NaN  201-500
2           2               0     NaN    11-50
3           3               0     NaN    11-50
4           4               0     NaN     0-10

In [6]:
data.Funding.isna().sum()

6035

In [7]:
len(data.Funding)

6543

In [10]:
(data.Size.unique())

array(['51-200', '201-500', '11-50', '0-10', '500+', nan, '501-1000',
       '1001-5000', '5000+', '1000-5000', '50-100', '50-250', '100-250',
       '100-200', '11-50 (35)', '2019-01-10 00:00:00', '11/50',
       '51 to 200', 'Self'], dtype=object)

In [11]:
loc_req_des = pd.read_csv("loc_req_des.csv")
data = data.merge(loc_req_des)

In [12]:
data.head()

,Unnamed: 0,Contact Status,Funding,Size,Unnamed: 0.1,Desingations,Noida,Delhi,Gurgaon,Others,...,mlsoftware,javacloud,softwaredevelopmenttest,ionicapp,traineesoftwaretesting,traineesoftware,tester,trainee,magento,uideveloper
0,0,0,NaN,51-200,0,Founder,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,NaN,11-50,0,Founder,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,NaN,11-50,0,Founder,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,NaN,11-50,0,Founder,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0,NaN,201-500,1,Founder,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
data.shape

(6543, 253)

In [14]:
data.to_csv('Version-0.1.csv')