<b>Features:</b> Following are the features in dataset:

* __'Added Date'__  --> Date when entry entered
* __'BANT Status'__ --> 
    * __B(Budget)__ - Depends on Funding or Minimum salary that the company gives to freshers
    * __A(Authority)__ - Right Contact person
    * __N(Need)__ - Company Tech Requirement
    * __T(Time Frame)__ - Company has to wait for 4 Months for deployment. 
* __'Co Linkedin URL'__ --> LinkedIn URL
* __'Company Name'__  --> Name of Comapny
* __'Contact #2', 'Contact #3'__ --> Contact Number
* __'Contact Status'__ --> Company's reaction
* __'Designation','Designation 2', 'Designation 3'__ --> Designation of person we are contacting
* __'Detail Tech Requirement'__ --> Company's requirments
* __'Email', 'Email 2', 'Email 3'__ --> Email id of person we are contacting
* __'FollowUp Date'__ --> Date given by comapny to contact back
* __'Funding'__ --> Total amount invested into the company
* __'Linkedin URL'__ --> LinkedIn URL
* __'Location'__ --> Location of headquarter of the comapny
* __'Merge status'__ --> Ignore
* __'Phone 2', 'Phone 3', 'Phone No'__ --> Phone Number
* __'Primary Contact Person', 'Proimary Contact Person'__
* __'Remarks'__  --> Ignore
* __'Requirements'__
* __'Sales Status'__ --> Ignore
* __'Segment'__ --> Type of company
* __'Size'__ --> Number of enployees
* __'Source'__ --> Ignore

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

In [71]:
data = pd.ExcelFile("Data.xlsx")

In [72]:
df1 = pd.read_excel(data, 'Ashish')
df2 = pd.read_excel(data, 'Deepu')
df3 = pd.read_excel(data, "Rozer")
df4 = pd.read_excel(data, "Shubham")

In [73]:
data = pd.concat([df1, df2, df3, df4])

In [5]:
df1.shape, df2.shape, df3.shape, df4.shape

((805, 31), (2826, 37), (2390, 28), (522, 28))

In [6]:
data.shape

(6543, 39)

In [7]:
data["Designation"].isna().sum(), data["Designation 2"].isna().sum()

(1475, 3883)

# Drop unwanted columns

Out of above features useful features are :
* __'Contact Status'__ --> Company's reaction
* __'Designation','Designation 2', 'Designation 3'__ --> Designation of person we are contacting
* __'Detail Tech Requirement'__ --> Company's requirments
* __'Funding'__ --> Total amount invested into the company
* __'Location'__ --> Location of headquarter of the comapny
* __'Segment'__ --> Type of company
* __'Size'__ --> Number of enployees

<b>Reasons</b>
* __'Contact Status'__ --> This is what we are goning to predict
* __'Designation','Designation 2', 'Designation 3'__ --> If the contact person is technical head  or a descision making person of comapny then he'll easily understant the technical stuff and can make descisions without much dealy.
* __'Detail Tech Requirement'__ --> If company's requirment matches what we are providing then there is high chance of that company to consider us
* __'Funding'__ --> If company has low funding then it won't be able to hadle our chargers
* __'Location'__ --> Location of headquarter of the comapny
* __'Segment'__ --> Type of company
* __'Size'__ --> Number of enployees

In [74]:
data.drop(columns=['Added Date', 'BANT Status', 'Co Linkedin URL', 'Company Name'
                   ,'Contact #2', 'Contact #3','Email','Email 2', 'Email 3', 'FollowUp Date', 'Linkedin URL', 'Phone 2', 'Phone 3'
                   , 'Phone No','Primary Contact Person', 'Proimary Contact Person','Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'
                   ,'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35'
                   ,'Unnamed: 36', "Sales Status", "Segment", "Source", 'Merge status', "Remarks"], inplace = True)

In [75]:
data.columns

Index(['Contact Status', 'Designation', 'Designation 2', 'Designation 3',
       'Detail Tech Requirement', 'Funding', 'Location', 'Requirements',
       'Size'],
      dtype='object')

# 'Contact Status'
<h3><b>Replace the values by 1 if company responded else replace by 0.</b></h3>

In [76]:
data["Contact Status"].unique()
np.array(data["Contact Status"].fillna("Missing", inplace=True))

array(None, dtype=object)

In [11]:
data["Contact Status"] = (data["Contact Status"].replace(to_replace={'Reminded2','Reminded1','Emailed #1', "Missing"}, value="0", regex=True) )
data["Contact Status"] = (data["Contact Status"].replace(to_replace={'Responded', 'Not Interested', 'Called', 'Call-Disqualified'
       ,'Call-Scheduled', 'Call-Yes', 'Call-Qualified', 'postponed'}, value="1", regex=True) )

In [12]:
data.head(2)

,Contact Status,Designation,Designation 2,Designation 3,Detail Tech Requirement,Funding,Location,Requirements,Size
0,0,F,CF/CEO,NaN,NaN,NaN,"Noida, Delhi",Back End,51-200
1,0,F,CF/CTO,NaN,NaN,NaN,Gurgaon,"Full Stack, Front End",201-500

# 'Designation'
df = data

In [13]:
data["Designation"].fillna("Missing", inplace=True)
data["Designation 2"].fillna("Missing", inplace=True)
data["Designation 3"].fillna("Missing", inplace=True)

In [14]:
data["combined"] = data["Designation"].str.cat(data[["Designation", "Designation 2", "Designation 3"]].astype(str), sep="/")

In [15]:
np.array(data["combined"])

array(['F/F/CF/CEO/Missing', 'F/F/CF/CTO/Missing',
       'F/CF/VP/F/CF/VP/F/CF/Missing', ...,
       'Missing/Missing/Missing/Missing',
       'Missing/Missing/Missing/Missing',
       'Missing/Missing/Missing/Missing'], dtype=object)

In [16]:
[str(i).split("/") for i in (np.array(data["combined"]))]

In [17]:
data["Contact Status"] = (data["Contact Status"].replace
        (to_replace={'HR','Hr'}, value="0", regex=True) )

In [18]:
for i in range(len(data)):
    if np.array(data["combined"])[i] == "HR":
        np.array(data["combined"])[i] = 0
    else:
        np.array(data["combined"])[i] = 1

In [19]:
data["combined"].str[1:-1].str.split("/").map(set)
data["combined"] = data["combined"].str.split("/").map(set)
(pd.DataFrame(data["combine"])).head()

In [20]:
data.isna().sum()

Contact Status                0
Designation                   0
Designation 2                 0
Designation 3                 0
Detail Tech Requirement    5094
Funding                    6035
Location                   1974
Requirements               3930
Size                       2127
combined                      0
dtype: int64

In [21]:
(data["combined"][:5]).str.split("/")
[str(i).split("/").map(set) for i in (np.array(data["combined"]))]

In [22]:
for i in range(len(data)-1):
    data["combined"][i:i+1] = data["combined"][i:i+1].str.split("/").map(set).map(list)
    data["combined"][i:i+1] = (data["combined"][i:i+1].replace(to_replace={'F','Founder','ounder', "CFounder", 'CF', 'CoFounder'}, value="Founder",regex=True))

In [23]:
data["combined"][0:7]

In [24]:
data["combined"] = (data["combined"].replace(to_replace={'Hr','HR','Head Hr', "Head HR"}, value="HR", regex=True))

In [25]:
data["combined"] = (data["combined"].replace(to_replace={'F','Founder','ounder', "CFounder", 'CF', 'CoFounder'}, value="Founder",regex=True))

In [26]:
len(data["combined"].unique())
data["combined"]

In [27]:
data["combined"] = (data["combined"].replace(to_replace={'F','Founder','ounder', "CFounder", 'CF', 'CoFounder'}, value="Founder",regex=True))

In [28]:
(data["combined"][2:3])

In [77]:
data.drop(columns=["Designation", "Designation 2", "Designation 3"], inplace = True)

In [30]:
data["Requirements"].str.split(",")
col = ["Back End", "Front End", "Full Stack", "other", "Node JS", "iOS","Angular",  "React",  "Java",  ".Net", "PHP", "Python"]

In [31]:
new = data["Requirements"].str.split(",", n = 5, expand = True) 
  
# making seperate first name column from new data frame 
data["Tech1"]= new[0] 
  
# making seperate last name column from new data frame 
data["Tech2"]= new[1] 
data["Tech3"]= new[2] 
data["Tech4"]= new[3] 
data["Tech5"]= new[4]

In [32]:
# data.head()

,Contact Status,Detail Tech Requirement,Funding,Location,Requirements,Size,combined
0,0,NaN,NaN,"Noida, Delhi",Back End,51-200,F/F/CF/CEO/Missing
1,0,NaN,NaN,Gurgaon,"Full Stack, Front End",201-500,F/F/CF/CTO/Missing
2,0,NaN,NaN,"Gurgaon, Delhi",ReactJS,11-50,F/CF/VP/F/CF/VP/F/CF/Missing
3,0,NaN,NaN,Gurgaon,Front End,11-50,F/Director/F/Director/Missing/Missing
4,0,NaN,NaN,Gurgaon,"Software, Front End",0-10,F/CEO/F/CEO/Missing/Missing

</h3><b> Make techs as key in dict and save column number as values. Then replace those col by 1 </b> </h3>

In [78]:
data["Requirements"].fillna("Missing", inplace = True)

Remove the brackets and everything within it.

In [87]:
l = []
import re
for i in range(3):
    x = re.sub("[\(\[].*?[\)\]]", "", str(np.array(data["Requirements"])[i]))
    print(x)
    l.append(x)

Back End
Full Stack, Front End
ReactJS

In [99]:
req = []
for i in l[:3]:
    print(i)
    req.append(i.split(","))

In [95]:
req[:2]

[['F'], ['u']]

In [54]:
dict = {}
a = []
list_keys = dict.keys()
for i in range(len(data)):
    for j in l[i]:
        j = re.sub("[\(\[].*?[\)\]]", "", j)
        j = j.strip().replace(" ", "").lower()
        j = j.strip().replace("-", "").lower()
    
        if j in list_keys:
            a = [dict[j]]
            dict[j] = a.append(i)
        else:
            dict[j] = a

In [49]:
t = str(np.array(data["Requirements"])[1])
type(t)

str